---
import '../styles/global.css';
import LineFloatingButton from '../components/parts/LineFloatingButton.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
const gtmId = import.meta.env.PUBLIC_GTM_ID;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <script is:inline define:vars={{ gtmId }}>
      if (gtmId) {
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', gtmId);
      }
    </script>
  </head>
  <body>
    {
      gtmId && (
        <noscript>
          <iframe
            src={`https://www.googletagmanager.com/ns.html?id=${gtmId}`}
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <slot />
    <LineFloatingButton />
  </body>
</html>
